
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Django App</title>
    <!-- Import Tailwind CSS from CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{% static 'js/my_script.js' %}"></script>
</head>
<body class="bg-gray-50">
    <header class="text-gray-600 body-font shadow w-full">
        <div class="container mx-auto flex flex-wrap p-2 flex-col md:flex-row items-center">
            <a href="{% url 'core:index' %}" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
                <span class="ml-3 text-xl">Recruter Plus</span>
            </a>

            <div class="flex-1"></div>
            {% if request.user.is_authenticated %}
                <a href="{% url 'core:index' %}" class="p-2 text-gray-900 text-xl rounded {% if request.path == '/' %}bg-[#9ca3af] text-white{% endif %}">Home</a>
                <a href="{% url 'interview' %}" class="p-2 text-gray-900 text-xl rounded {% if '/interview/' in request.path %}bg-[#9ca3af] text-white{% endif %}">My Interviews</a>
                <div class="relative" onclick="toggleUserMenuDropdown()">
                    <a id="user-menu" class="flex items-center px-4 text-gray-900 text-xl cursor-pointer">
                        {{ request.user.username }}
                        {% with email_hash=request.user.email|lower|add:'gravatar' %}
                            <img src="https://www.gravatar.com/avatar/{{ email_hash }}?s=40&d=identicon" alt="Profile Image" class="w-8 h-8 rounded-full ml-2" />
                        {% endwith %}
                    </a>
                    <div id="user-menu-dropdown" class="hidden absolute right-0 z-10 mt-2 w-48 bg-white border rounded-md shadow-lg">
                        <a href="#" class="cursor-not-allowed opacity-50 block px-4 py-2 text-gray-800 hover:bg-gray-200">Profile</a>
                        <a href="#" class="cursor-not-allowed opacity-50 block px-4 py-2 text-gray-800 hover:bg-gray-200">Settings</a>
                        <a href="{% url 'core:logout' %}" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">Logout</a>
                    </div>
                </div>
            {% else %}
                 <a href="{% url 'core:signup' %}" class="px-4 text-gray-900 text-xl">Sign up</a>
                 <a href="{% url 'core:login' %}" class="px-4 text-gray-900 text-xl">Log in</a>  
            {% endif %}
        </div>
    </header>

    {% block content %}
    <!-- Content will be inserted here from child templates -->
    {% endblock %}

</body>
</html>
