{% extends "base.html" %}

{% block content %}
<div class="container mx-auto p-8">
    <div class="w-full p-6 bg-white rounded-lg shadow-md">
        <h1 class="text-3xl font-bold mb-2">Interview: {{ interview.name }}</h1> 
        <p>{{ interview.job_description }}</p>
        <div class="mt-4 p-4 bg-gray-50 rounded">
            {% if subject_with_random_question %}
                <h2 class="text-xl font-semibold mb-2">{{ subject_with_random_question.subject_name }}</h2> 
                <strong><p class="mt-1">{{ subject_with_random_question.question_text }}</p> </strong>
                <div class="mt-2 flex flex-col">
                    <div class="h-48 overflow-y-auto">
                        <p class="text-gray-700">{{ subject_with_random_question.question_answer }}</p>
                    </div>
                    <form method="post" action=".">
                        {% csrf_token %}
                        <input type="hidden" name="question_id" value="{{ subject_with_random_question.question_id }}">
                        <div class="flex justify-end space-x-2"> 
                            <button type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mt-2 self-end">Mark as learned</button>
                            <button type="button" onclick="window.location.reload();" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-2 self-end">Next</button>
                        </div>
                    </form>
                </div>
            {% else %}
                
                <div class="mt-2 flex flex-col">
                    <div class="h-48 overflow-y-auto flex justify-center items-center"> <!-- Updated classes here -->
                        <h2 class="text-xl font-semibold mb-2 text-center">You already learned all questions</h2>
                    </div>
                    <form method="post" action=".">
                        {% csrf_token %}
                        <input type="hidden" name="reset" value="1">
                        <div class="flex justify-end space-x-2">
                            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-2 self-end">Reset all questions</button>
                        </div>
                    </form>
                </div>
            {% endif%}
        </div>
    </div>
</div>

<!-- Popup form for new users -->
<div id="popupForm" class="fixed inset-0 bg-gray-900 bg-opacity-75 flex items-center justify-center hidden">
    <div class="bg-white w-80 p-8 rounded-lg shadow-lg">
        <h2 class="text-xl font-semibold mb-4">Welcome to Interviews!</h2>
        <p class="text-gray-700">Here you can learn interview questions. Just click "Next" to move to the next question. If you've learned all questions, you can reset them to learn again.</p>
        <button onclick="closePopup()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-6">Got it!</button>
    </div>
</div>

<!-- Question mark icon to reopen the popup -->
<div id="questionMark" onclick="showPopup()" class="fixed bottom-8 right-8 z-10">
    <div class="w-10 h-10 flex items-center justify-center bg-gray-300 text-gray-900 rounded-full cursor-pointer shadow-md">
        <span class="text-xl font-semibold">?</span>
    </div>
</div>

<script>
    // Function to show the popup for new users
    function showPopup() {
        var popup = document.getElementById("popupForm");
        popup.classList.remove("hidden");
        // Set a flag in localStorage indicating that the user has seen the popup
        localStorage.setItem("popupShown", "true");
    }

    // Function to close the popup
    function closePopup() {
        var popup = document.getElementById("popupForm");
        popup.classList.add("hidden");
    }

    // Check if the user has already seen the popup
    var popupShown = localStorage.getItem("popupShown");

    // Show the popup only if the user is new
    if (!popupShown) {
        showPopup();
    }

    // Function to handle clicks on the question mark icon
    document.getElementById("questionMark").addEventListener("click", function() {
        // Show the popup when the question mark icon is clicked
        showPopup();
    });
</script>

{% endblock %}
